<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<deny users="?"/>
			<allow roles="admin"/>
			<deny users="*"/>
		</authorization>
	</system.web>


	<location path="Client.aspx">
		<system.web>
			<authorization>
				<allow roles="member"/>
			</authorization>
		</system.web>
	</location>

	<location path="BookkingDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="member"/>
			</authorization>
		</system.web>
	</location>

	<location path="AddBookinDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="member"/>
			</authorization>
		</system.web>
	</location>
</configuration>
